services:
  api:
    build:
      args:
        INSTALL_DEV: "1"
    depends_on:
      postgres-test:
        condition: service_healthy
    environment:
      TEST_DATABASE_URL: postgresql+asyncpg://postgres:postgres@postgres-test:5432/funtech_orders_test

  postgres-test:
    image: postgres:16.11
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: funtech_orders_test
    ports:
      - "5433:5432"
    volumes:
      - postgres_data_test:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data_test: {}
